*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242424;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  border: 1px solid white;
  color: aliceblue
}